<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='content' content='text/html; charset=utf-8' />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>s5r.jp</title>
  
    <meta property="og:title" content="s5r.jp">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://s5r.jp/">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  
  <body>
    {{ content }}
  </body>
</html>

